<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        IOT Sandbox
      </h1>
      <h2 class="subtitle">
        A place for Brandon to mess with the internet of things.
      </h2>
    </div>
  </div>
</section>
<section>
  <div>
    <table class="table is-bordered">
      <tr>
        <th>Name</th>
        <th>Last Heard</th>
        <th>Actions</th>
      </tr>
      <% @devices.each do |d| %>
        <tr>
          <td><%= d.name %></td>
          <td><%= d.last_heard %></td>
          <td>
            <div class="buttons">
              <button class="button is-warning">Action 1</button>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
