<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        IOT Sandbox
      </h1>
      <h2 class="subtitle">
        A place for Brandon to mess with the internet of things.
      </h2>
    </div>
  </div>
</section>
<section class="with-bumpers">
  <div class="container">
    <table class="table is-bordered">
      <tr>
        <th>Name</th>
        <th>Last Heard</th>
        <th>Led Status</th>
        <th>Actions</th>
      </tr>
      <% @devices.each do |d| %>
        <tr>
          <td><%= d.name %></td>
          <td><%= d.last_heard %></td>
          <td>
            <% if @led_status == 1 %>
              <span class="tag is-success">On</span>
            <% else %>
              <span class="tag is-danger">Off</span>
            <% end %>
          </td>
          <td>
            <div class="buttons">
              <%= button_to 'Toggle Led', pages_toggle_led_path, method: :post, class: "button is-warning" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
