<h1>IOT Sandbox</h1>
<div>
  <table class="table is-bordered">
    <tr>
      <th>Name</th>
      <th>Last Heard</th>
    </tr>
    <% @devices.each do |d| %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.last_heard %></td>
      </tr>
    <% end %>
  </table>
</div>
